/**
* Accordeon
*/

.accordeon details {
    flex: 1;
    max-width: 30%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
}

.accordeon details[open] {
    border-color: #ffffff;
}

.accordeon details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
}

.accordeon details summary img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;  
}


.accordeon details[open] summary img {
    transform: translateX(-100%); 
}

.accordeon details div {
    position: absolute;
    top: 0;
    left: 100%;  
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    transition: transform 0.5s ease;
}


.accordeon details[open] div {
    transform: translateX(-100%); 
}

.accordeon details div h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.1rem;
}


